body {
  background: radial-gradient(
      circle at -8.9% 51.2%,
      rgb(255, 124, 0) 0%,
      rgb(255, 124, 0) 15.9%,
      rgb(255, 163, 77) 15.9%,
      rgb(255, 163, 77) 24.4%,
      rgb(21, 70, 100) 24.5%,
      rgb(19, 30, 37) 66%
    )
    fixed;
  font-family: "Franklin Gothic Medium";
}
main {
  margin-left: 20%;
  max-width: 600px;
}

h1 {
  margin-left: 20%;
  color: #ffebbb;
  font-size: 50px;
}

.form-container {
  background: #ffcab0;
  border-radius: 10px;
  padding: 20px;
}

form {
  max-width: 600px;
  display: flex;
}

.hint {
  color: rgba(13, 41, 58, 0.603);
  padding: 5px 20px;
  font-size: 14px;
  margin-top: 5px;
}
.instructions {
  padding: 16px;
  border: 1px solid rgb(255, 163, 77);
  width: 80%;
  border-radius: 50px;
  line-height: 20px;
  color: rgb(21, 70, 100);
  background: #ffffffcc;
}
.instructions:hover {
  background-color: #ffebbb;
}

.submit {
  margin-left: 10px;
  background: rgb(21, 70, 100);
  color: white;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  width: 150px;
  padding: 14px 24px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.74);
  cursor: pointer;
}
.submit:active {
  background-color: rgb(13, 41, 58);
}

.nameList {
  color: rgb(255, 163, 77);
  font-size: 20px;
  background-color: #ffffff56;
  padding: 20px;
  margin: 30px 0px;
  border-left: 5px solid #ffcab0;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  margin-bottom: 0;
  line-height: 30px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  color: #efddb2;
  font-size: 16px;
  margin-left: 20%;
}

a:link {
  color: #ffebbb;
}

a:visited {
  color: #ffcab0;
}

/* class="loader" for loading animation*/
.loader {
  width: 60px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  animation: l3-0 1s infinite alternate;
}
.loader:before,
.loader:after {
  content: "";
  width: 16px;
  background: rgb(255, 124, 0);
  animation: l3-1 0.5s infinite alternate;
}
.loader:after {
  background: rgb(255, 163, 77);
  --s: -1;
}
@keyframes l3-0 {
  0%,
  40% {
    transform: rotate(0);
  }
  80%,
  100% {
    transform: rotate(0.5turn);
  }
}
@keyframes l3-1 {
  80%,
  100% {
    transform: translate(calc(var(--s, 1) * 14px));
  }
}
